<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
<meta charset="UTF-8">
<title>購入完了</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<header th:replace="~{common/header :: header}"></header>
	
	<div class="complete-title">
		<h1>購入完了画面</h1>
	</div>
	
	<div class="completed-title">
		<h1>注文完了</h1>
	</div>

	<div class="completedl-container">
		<div th:each="p : ${cart}">
			<p>画像：</p><img th:src="@{/images/{file}(file=${p.product.imgPath})}" width="100">
			    <p>商品名：<span th:text="${p.product.productName}"></span></p>
		</div>
		
		
			<p>数量：<span th:text="${count}"></span></p>
			<p>税込価格：<span th:text="${totalInTax}"></span></p>
			<p>住所：<span th:text="${address}"></span></p>
	</div>

	<div class="top-btn-area">
		<a th:href="@{/}" class="top-btn">TOP画面に戻る</a>
	</div>

	<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>