<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
<meta charset="UTF-8">
<title>TOP</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<header th:replace="~{common/header :: header}"></header>
	
	<h1>TOP画面</h1>
	
	<div class="sales-title">
		<h3>セール品</h3>
	</div>
	
	<div class="sales-area">
			
		<div class="sales-card" th:each="salesItem : ${salesItems}">
			
			<a th:href="@{/product/detail/{id}(id=${salesItem.product.productId})}">
				<img th:src="@{/images/{file}(file=${salesItem.salesImgPath})}">
			</a>
			
		</div>
	</div>
		
	<footer th:replace="~{common/footer :: footer}"></footer>
</body>
</html>